{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="pull-right">
        <a href="{{ path('adress_new') }}" class="btn"><i class="cus-add"></i> Yeni Adres Ekle</a>
    </div>
    <div class="clearfix"></div>
    <p>
        <h2>Kayıtlı Adresleriniz</h2>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Adress İsmi</th>
                <th>İsim</th>
                <th>Oluşturma Tarihi</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for adress in user.adress %}
            <tr>
                <td>{{ adress.name }}</td>
                <td>{{ adress.shippingname }}</td>
                <td>{{ adress.createdat | date }}</td>
                <td class="text-align">
                    <a href="#" title="Düzenle"><i class="cus-page-white-edit"></i></a>
                    <a href="{{ path('adress_remove',{'id':adress.id}) }}" title="Kaldır"><i class="cus-delete"></i></a>
                </td>
            </tr>
        {% else %}
            <h3>Kayıtlı Adres Bulunamadı.</h3>
        {% endfor %}
    </table>
{% endblock content %}