<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Barkod Sorgulama{% endblock %}</title>
    {% block stylesheet %}
    {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
		<link rel="stylesheet" href="{{asset('/bundles/app/css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{asset('/bundles/app/css/cus-icons.css')}}">
		<link rel="stylesheet" href="{{asset('/bundles/app/css/main.css')}}">
    {% endblock stylesheet %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">E-Commerce</a>
            {{ knp_menu_render('AppBundle:Builder:basicNavbar',{'nav_type': 'navbar'}) }}
            {{ knp_menu_render('AppBundle:Builder:rightMenu',{'nav_type': 'navbar','pull':'right'}) }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if app.session.hasFlash('notice') %}
            <div id="flashmessage" class="alert alert-success">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>

{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>

    {% javascripts
        '@AppBundle/Resources/public/js/*'
        output='main.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock javascript %}
</body>
</html>